<link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/not-found.css">

<div id="notfound">
<div class="notfound">
<div class="notfound-404">
<h3>OOPS! Authorization Failed</h3>
<h1><span>4</span><span>0</span><span>3</span></h1>
</div>
<h2>we are sorry, you don't have the permission to view this page</h2>
<a  href= "/" ><button id="go_bck_btn">Go To Home</button></a>
</div>
</div>

