<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />

<div style="width:100%;height:400px;background-color:black;text-align:center;">
    <video style="height:100%;" controls>
    <source src="https://lh3.googleusercontent.com/_MlfjKWU2JIAN1P6Ejis0qntEuoz_AyDY9YEH37ZYM3AszaSOGd-_Tn6lQMlSeChJd_SwUv2je_Z2j3PXQB9WdcPZq7DXSgWr_o0CFNNSf3nuemJpKR9t10UBxR3jZs110-nkiF8veM=dv" type="video/mp4">
  </video>

</div><br>
<div style="width:100%;height:400px;background-color:black;text-align:center;">

    <video style="height:400px;width:100%;" controls>
    <source src="https://drive.google.com/uc?export=view&id=1c2SyJZyUXXAl7RRwHSgRh_BfVB3jJ9oE" type='video/mp4'>
  </video>
</div>
<!-- <embed width="420" height="315" src="https://drive.google.com/file/d/161KYETwzAfjxoMpvB69iM9b5ItjaOPvI/preview"> -->

</html>