<% include header %>
    <style>
        .login-block {
            /* background: #DE6262; */
            /* fallback for old browsers */
            /* background: -webkit-linear-gradient(to bottom, #553E91, #DE6262); */
            /* Chrome 10-25, Safari 5.1-6 */
            /* background: linear-gradient(to bottom, #FFB88C, ##553E91); */
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            float: left;
            width: 100%;
            padding: 50px 0;
        }
        
        .login-sec {
            padding: 50px 30px;
            position: relative;
        }
        
        .login-sec .copy-text {
            position: absolute;
            width: 40%;
            bottom: 20px;
            font-size: 13px;
            text-align: center;
        }
        
        .login-sec .copy-text i {
            color: #553E91;
        }
        
        .login-sec .copy-text a {
            color: #553E91;
        }
        
        .container {
            background: #fff;
            border-radius: 10px;
            box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
            /* box-shadow: 15px 20px 0px linear-gradient(to bottom, #FFB88C, #553E91); */
        }
        
        .login-sec h2 {
            margin-bottom: 30px;
            font-weight: 800;
            font-size: 30px;
            color: #553E91;
        }
        
        .login-sec h2:after {
            content: " ";
            width: 100px;
            height: 5px;
            background: #553E91;
            display: block;
            margin-top: 20px;
            border-radius: 3px;
            margin-left: auto;
            margin-right: auto
        }
        
        .btn-login {
            background: #553E91;
            color: #fff;
            font-weight: 600;
        }
    </style>
    <div class="container-fluid" id="signup_div">
        <section class="login-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 login-sec">
                        <h2 class="text-center">Signup Now</h2>
                        <form class="signup-form">
                            <div class="form-group">
                                <label for="user_name" class="text-uppercase">Name</label>
                                <input type="text" id="user_name" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="user_email" class="text-uppercase">Email</label>
                                <input type="email" id="user_email" class="form-control" placeholder="">
                                <p id="signup_email_error" style="color:red;display:none;">Please enter the email</p>

                            </div>

                            <div class="form-group">
                                <label for="user_password" class="text-uppercase">Password</label>
                                <input type="password" id="user_password" class="form-control" placeholder="">
                                <p id="signup_pwd_error" style="color:red;display:none;">Please enter the password</p>

                            </div>
                            <div class="form-group">
                                <select class="form-control form-control-sm d-inline-block" id="user_role" name="role" style="margin-top:10px;">
                             <option selected disabled>Choose Role</option>
                         <option value = "Normal User"> Normal User</option>
                         <option value = "Creator"> Creator</option>
                     </select>
                                <p id="signup_role_err" style="color:red;display:none;margin-top:10px;">Please choose the role</p>
                            </div>
                            <div id="signup_error" style="background-color:lightgray;width:100%;height:70px;display:none;">
                                <p id="signup_error_message" style="color:red;text-align:center;">User with this email already exists.</p>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">Already have account?
                               <a style="color: #553E91; " id ="gologin" href ="/mobile-login">Login</a> </label>
                                <button type="button" onclick="doSignup() " class="btn btn-login float-right ">SignUp</button>
                            </div>
                            <div id="message"></div>
                        </form>
                    </div>

                </div>
        </section>
        </div>
        <script>
            var signup = document.getElementById('page-content-wrapper');
            var signup_div = document.getElementById('signup_div')
            signup.appendChild(signup_div);
            $('#user_email').keyup(function() {
                if ($(this).val() == '') {
                    $('#signup_email_error').show();
                } else {
                    $('#signup_email_error').hide();
                }
            });
            $('#user_password').keyup(function() {
                if ($(this).val() == '') {
                    $('#signup_pwd_error').show();
                } else {
                    $('#signup_pwd_error').hide();
                }
            });
            $('#user_role').on('change', function() {
                if ($(this).val() == '') {
                    $('#signup_role_err').show();
                } else {
                    $('#signup_role_err').hide();
                }
            });

            function doSignup() {

                $.ajax({
                    type: 'POST',
                    url: '/signup',
                    data: {
                        name: document.getElementById('user_name').value,
                        email: document.getElementById('user_email').value,
                        password: document.getElementById('user_password').value,
                        role: document.getElementById('user_role').value
                    },
                    dataType: "json ",
                    success: function(response) {

                        if (response.success == false && response.err_code == 2003) {
                            localStorage.clear();
                            document.getElementById('signup_pwd_error').style.display = "block ";
                            document.getElementById('signup_email_error').style.display = "block ";
                            document.getElementById('signup_role_err').style.display = "block ";

                            return
                        } else if (response.success == false && response.err_code == 2004) {
                            localStorage.clear();
                            document.getElementById('signup_email_error').style.display = "block ";
                            document.getElementById('signup_pwd_error').style.display = "none ";
                            document.getElementById('signup_error').style.display = "none ";
                            document.getElementById('signup_role_err').style.display = "block ";

                            return
                        } else if (response.success == false && response.err_code == 2005) {
                            localStorage.clear();
                            document.getElementById('signup_email_error').style.display = "none ";
                            document.getElementById('signup_pwd_error').style.display = "block ";
                            document.getElementById('signup_error').style.display = "none ";
                            document.getElementById('signup_role_err').style.display = "block ";

                            return
                        } else if (response.success == false && response.err_code == 1007) {
                            localStorage.clear();
                            document.getElementById('signup_email_error').style.display = "block ";
                            document.getElementById('signup_pwd_error').style.display = "block ";
                            return
                        } else if (response.success == false && response.err_code == 2002) {
                            localStorage.clear();
                            document.getElementById('signup_email_error').style.display = "none ";
                            document.getElementById('signup_pwd_error').style.display = "none ";
                            document.getElementById('signup_error').style.display = "block ";

                            return
                        } else if (response.success == false && response.err_code == 1009) {
                            localStorage.clear();
                            document.getElementById('signup_error').style.display = "block ";
                            document.getElementById('signup_pwd_error').style.display = "none ";
                            document.getElementById('signup_email_error').style.display = "none ";

                            return
                        } else if (response.success == false && response.err_code == 2001) {
                            localStorage.clear();
                            document.getElementById('signup_error').style.display = "none ";
                            document.getElementById('signup_pwd_error').style.display = "none ";
                            document.getElementById('signup_email_error').style.display = "none ";
                            document.getElementById('signup_role_err').style.display = "block ";

                            return
                        } else if (response.success == false && response.err_code == 1119) {
                            localStorage.clear();
                            document.getElementById('signup_email_error').style.display = "block ";
                            document.getElementById('signup_pwd_error').style.display = "none ";
                            document.getElementById('signup_error').style.display = "none ";
                            document.getElementById('signup_role_err').style.display = "none ";

                            return
                        } else if (response.success == false && response.err_code == 2006) {
                            localStorage.clear();
                            document.getElementById('signup_email_error').style.display = "block ";
                            document.getElementById('signup_email_error').innerText = "Please enter a valid email address ";

                            document.getElementById('signup_pwd_error').style.display = "none ";
                            document.getElementById('signup_error').style.display = "none ";
                            document.getElementById('signup_role_err').style.display = "none ";

                            return
                        } else if (response.success == false && response.err_code == 2007) {
                            localStorage.clear();
                            document.getElementById('signup_email_error').style.display = "none ";
                            document.getElementById('signup_pwd_error').style.display = "block ";
                            document.getElementById('signup_pwd_error').innerText = "Password should have atleast 8 character with one special character, upper letter and a digit ";
                            document.getElementById('signup_error').style.display = "none ";
                            document.getElementById('signup_role_err').style.display = "none ";

                            return
                        }

                        if (response.success == true) {
                            document.getElementById('signup_error').style.display = "none ";
                            document.getElementById('signup_pwd_error').style.display = "none ";
                            document.getElementById('signup_email_error').style.display = "none ";
                            document.getElementById('signup_role_err').style.display = "none ";
                            document.getElementById('gologin').click();


                        } else {
                            $("#message").show(3000).html('Failed to signup').addClass('success').hide(1500);

                        }
                    },
                    error: function() {
                        $("#message").show(3000).html('Failed to signup').addClass('success').hide(1500);

                    }
                })
            } //signup request
        </script>